.navbar {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}



.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    font-size: x-large;
    margin-right: 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: red;
    text-decoration: underline;
}
